/*REGLAS GENERALES*/
* {
    padding: 0px;
    margin: 0px;
}
body { 
        width: 100vw;
        height: 100vh;
        background-color: skyblue;
}

/*-------------------------------------------------------*/

/*REGLAS DEL NAV*/
#idNav {
    width: 100vw;
    height: 33%;
    text-align: center;
    background-color: rgb(211, 211, 211);
    padding: 2%;
    border-bottom: 2px solid black;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

/*LOS TRES DIVS QUE HAY DENTRO DEL NAV*/
#idNav1 {
    background-color: royalblue;
    width: 90vw;
    height: 30%;
    text-align: start;
}

#idNav2 {
    background-color: orange;
    width: 90vw;
    height: 30%;
    text-align: end;
}

#idNav3 {
    background-color: mediumspringgreen;
    width: 90vw;
    height: 30%;
    visibility: hidden;
}

/*-------------------------------------------------------*/

/*REGLAS DE SECTION MAIN*/
#idMain {
    width: 100vw;
    height: 33%;
    background-color: pink;
    padding: 2%;
    border-bottom: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
}

#idArticle1 {
    width: 90vw;
    height: 30%;
    background-color: salmon;
    display: flex;
    justify-content: center;
    align-items: center;
}

#idArticle2 {
    width: 100vw;
    height: 30%;
    background-color: mediumorchid;
    visibility: hidden;
}

#idArticle3 {
    width: 45%;
    height: 30%;
    background-color: palegreen;
}

#idArticle4 {
    width: 45%;
    height: 30%;
    background-color: gold;
    display: flex;
    justify-content: end;
}

#idArticleCentral {
    background-color: slateblue;
    /* rodri no se si este le quieres ocultar en tu pantalla, te dejo el color puesto por si lo quieres usar */
}

/*-------------------------------------------------------*/

/*REGLAS DEL FOOTER*/

#idFooter {
    background-color: grey;
    padding: 2%;
    width: 100vw;
    height: 33%;
    display: flex;
}

#footer1 {
    background-color: coral;
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#footer2 {
    background-color: cornflowerblue;
    visibility: hidden;
}

#footer3 {
    background-color: greenyellow;
    width: 30vw;
    display: flex;
    justify-content: start;
    align-items: flex-end;
}