/*REGLAS GENERALES*/
* {
    left: 0;
}

body {
    width: 99%;
    height: 100%;
    background-color: skyblue;
    left: 0;
}

/*-------------------------------------------------------*/
/*REGLAS DEL NAV*/
#idNav {
    background-color: rgb(211, 211, 211);
    width: 80%;
    height: 150px;
    text-transform: uppercase;
    font-size: x-large;
    margin-left: 10%;
    /*quitar al entregar*/
    display: flex;
    align-items: center;
    justify-content: center;
}

#idNav div {
    width: 20%;
    height: 75px;
    margin-left: 50px;
    /*quitar al entregar*/
    align-items: flex-end;
    justify-content: flex-start;
    display: flex;
}

/*COLOCACIÓN SEGUNDO DIV*/
/*quitar al entregar*/
#idNav div:nth-child(2) {
    align-items: flex-start;
    justify-content: flex-end;
}

/*LOS TRES DIVS QUE HAY DENTRO DEL NAV*/
#idNav1 {
    background-color: royalblue;
}

#idNav2 {
    background-color: orange;
}

#idNav3 {
    background-color: mediumspringgreen;
}

/*-------------------------------------------------------*/
/*REGLAS DE SECTION MAIN*/
#idMain {
    width: 95%;
    height: 600px;
    background-color: bisque;
    margin-top: 30px;
    margin-left: 2.5%;
}

/*LOS 4 ARTICLES QUE HAY DENTRO DEL SECTION*/
#idSection1 {
    background-color:salmon;
}

#idSection2 {
    background-color:mediumorchid;
}

#idSection3 {
    background-color:palegreen;
}

#idSection4 {
    background-color:gold
}

/*-------------------------------------------------------*/
/*REGLAS DEL FOOTER*/
#idFooter {
    background-color: grey;
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0;
    /*quitar al entregar*/
    display: flex;
    align-items: center;
}

#idFooter section {
    width: 20%;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    /*quitar al entregar*/
    align-items: center;
    justify-content: center;
    display: flex;
}

/*COLOCACIÓN PRIMERA SECTION -- CONTACTO*/
/*quitar al entregar*/
#idFooter section:nth-child(1) {
    flex: 1;
}

/*LAS TRES SECTION QUE HAY DENTRO DEL FOOTER*/
#footer1 {
    background-color: coral;
}

#footer2 {
    background-color: cornflowerblue;
}

#footer3 {
    background-color: greenyellow;
}